<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBook</title>
    <link rel="stylesheet" href="css/recipes.css">
</head>

<body>
    <nav>
        <a href="/"><img src="" alt="Logo not available"></a>
        <div class="searchbar">
            <input type="text" placeholder="Search a recipe" name="" id="">
        </div>
        <div class="links">
            <a href="/recipes">Recipe</a>
            <a href="/calculator">Calculator</a>
            <a href="">Account</a>
        </div>
    </nav>
    <div class="banner">
        <div class="bannercard">
            <h1>Banner</h1>
        </div>
    </div>
    <div class="mainbody">
        <div class="filters">
            <div class="category">
                <label for="category">Category</label>
                <select name="" id="category">
                    <option value="-">-</option>
                </select>
            </div>
            <div class="tags">
                <label for="tags">Tags</label>
                <select name="" id="tags">
                    <option value="-">-</option>
                </select>
            </div>
            <div class="rating">
                <label for="rating">Rating</label>
                <select name="" id="rating">
                    <option value="-">-</option>
                </select>
            </div>
        </div>
        <div class="cards">
            <% let n=7 %>
                <% for(let i=0;i<n;i++){ %>
                    <div class="row">
                        <div class="card">
                            <img src="<%=recipes[i].image%>" alt="Image not found">
                            <h4>
                                <a href="/recipes/<%=recipes[i]._id%> ">
                                    <%=recipes[i].title %>
                                </a>
                            </h4>
                            By
                            <%=recipes[i].author %>
                        </div>
                        <div class="card">
                            <img src="<%=recipes[i+n].image %>" alt="Image not found">
                            <h4>
                                <a href="/recipes/<%=recipes[i+n]._id %> ">
                                    <%=recipes[i+n].title %>
                                </a>
                            </h4>
                            By
                            <%=recipes[i+n].author %>
                        </div>
                        <div class="card">
                            <img src="<%=recipes[i+(n*2)].image%>" alt="Image not found">
                            <h4>
                                <a href="/recipes/<%=recipes[i+(n*2)]._id %>">
                                    <%=recipes[i+(n*2)].title %>
                                </a>
                            </h4>
                            By
                            <%=recipes[i+(n*2)].author %>
                        </div>
                        <div class="card">
                            <img src="<%=recipes[i+(n*3)].image%>" alt="Image not found">
                            <h4>
                                <a href="/recipes/<%=recipes[i+(n*3)]._id %>">
                                    <%=recipes[i+(n*3)].title %>
                                </a>
                            </h4>
                            By
                            <%=recipes[i+(n*3)].author %>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 RecipeBook. All Rights Reserved</p>
    </div>
</body>
