<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>RecipeBook</title>
    <link rel="stylesheet" href="css/show.css">
</head>

<body>
    <nav>
        <a href="/"><img src="images/logo.png" alt="Logo not available"></a>
        <div class="searchbar">
            <input type="text" placeholder="Search a recipe" name="" id="">
        </div>
        <div class="links">
            <a href="/recipes">Recipe</a>
            <a href="/calculator">Calculator</a>
            <a href="/accounts">Account</a>
        </div>
    </nav>
    <div class="mainbody">
        <div class="essentials">
            <img src="<%= recipe.image  %> " alt="No image">
            <div class="words">
                <h2>
                    <%= recipe.title %>
                        <h4>
                            by
                            <%=recipe.author %>
                        </h4>
                </h2>
                <p>
                    <%= recipe.description %>
                </p>
                <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="post">
                    <button>Delete Recipe</button>
                </form>
            </div>
        </div>
        <div class="steps">
            <%= recipe.steps %>
        </div>
        <div class="comment">
            <div class="addnewcomment">
                <h2>Leave a Comments</h2>
                <form action="/recipes/<%=recipe._id%>/review" method="post">
                    <div class="rating">
                        <label for="rating">Rating</label>
                        <input type="range" name="review[rating]" id="rating" max="5" min="1">
                    </div>
                    <div class="body">
                        <label for="body">Review</label>
                        <input type="text" name="review[body]" id="body" required>
                    </div>
                    <button>Submit Review</button>
                </form>
            </div>
            <div class="commentbody">
                <%for (let comment of recipe.comments) { %>
                    <div class="commentdetail">
                        <%=comment.rating%> star
                            <br>
                            <%=comment.body%>
                                <br>
                                <form action="/recipes/<%=recipe._id%>/reviews/<%=comment._id%>?_method=DELETE" method="post">
                                    <button>Delete Comment</button>
                                </form>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 RecipeBook. All Rights Reserved</p>
    </div>
</body>

</html>
